/***********************************************************/
@-webkit-keyframes test {
    0%   {
        -webkit-transform: rotate(0);
        -webkit-transform-origin: top left;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(45deg);
        -webkit-transform-origin: top right;
        opacity: 0;
    }
}
.test {
    -webkit-animation-name: test;
    -webkit-animation-delay: 0s !important;
    -webkit-animation-duration: 2s !important;
    -webkit-animation-fill-mode: both !important;
    -webkit-animation-timing-function: linear !important;

    /*-webkit-animation-iteration-count: 4;*/
    /*-webkit-backface-visibility: visible !important;*/
    /*-webkit-animation-direction: alternate;*/
}
/***********************************************************/

@-webkit-keyframes vertShake {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}
.vertShake {
    -webkit-animation-name: vertShake;
}

@-webkit-keyframes horShake {
    0%, 10%, 30%, 50%, 70%, 90%, 100% {-webkit-transform: translateX(0);}
    20%, 60% {-webkit-transform: translateX(-10px);}
    40%, 80% {-webkit-transform: translateX(15px);}
}
.horShake {
    -webkit-animation-name: horShake;
    -webkit-animation-duration: 0.6s !important;
}

@-webkit-keyframes horLeftShake {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateX(0);}
    40% {-webkit-transform: translateX(-30px);}
    60% {-webkit-transform: translateX(-15px);}
}
.horLeftShake {
    -webkit-animation-name: horLeftShake;
}

@-webkit-keyframes shake {
    30% { -webkit-transform: skew(-3deg, 3deg); }
    60% { -webkit-transform: skew(3deg, -3deg); }
}
.shake {
    -webkit-animation: shake 0.5s linear infinite alternate !important;
}

@-webkit-keyframes deform {
    25% { -webkit-transform: skewX(-8deg) scale(1.1); }
    50% { -webkit-transform: skewX( 0deg) scale(1); }
    75% { -webkit-transform: skewX( 8deg) scale(1.1); }
}
.deform {
    -webkit-animation: deform 1s linear infinite !important;
}

@-webkit-keyframes rotateInSlow {
    0%   {-webkit-transform: rotate3d(90, 90, 90, 180deg) scale(0);}
    100% {-webkit-transform: rotate3d( 0,  0,  0,   0deg) scale(1);}
}
.rotateInSlow {
    -webkit-animation-name: rotateInSlow;
}

@-webkit-keyframes rotateInFast {
    0%   {-webkit-transform: rotate(900deg) scale(0); opacity: 0;}
    100% {-webkit-transform: rotate(  0deg) scale(1); opacity: 1;}
}
.rotateInFast {
    -webkit-animation-name: rotateInFast;
}

@-webkit-keyframes fadeOutDownBouncing {
    0% { -webkit-transform: translateY(0);}   
    25% { -webkit-transform: translateY(-10px); opacity: 1;}  
    100% { -webkit-transform: translateY(100%); opacity: 0; }
}
.fadeOutDownBouncing {
    -webkit-animation-name: fadeOutDownBouncing;
}

@-webkit-keyframes fadeOutDownBigBouncing {
    0% { -webkit-transform: translateY(0);}   
    25% { -webkit-transform: translateY(-10px); opacity: 1;}  
    100% { -webkit-transform: translateY(500px); opacity: 0; }
}
.fadeOutDownBigBouncing {
    -webkit-animation-name: fadeOutDownBigBouncing;
}

@-webkit-keyframes rotateOutTopLeft {
    0% { -webkit-transform: rotateZ(0); -webkit-transform-origin: top left; }   
    100% { -webkit-transform: rotateZ(160deg); -webkit-transform-origin: top left; opacity: 0; }
}
.rotateOutTopLeft {
    -webkit-animation-name: rotateOutTopLeft;
}

@-webkit-keyframes rotateOutRight {
    0% { -webkit-transform: rotateZ(0); -webkit-transform-origin: 0% 0%; }   
    100% { -webkit-transform: rotateZ(160deg); -webkit-transform-origin: 100% 100%; opacity: 0; }
}
.rotateOutRight {
    -webkit-animation-name: rotateOutRight;
}

@-webkit-keyframes rotateOutRightSmaller {
    0% { -webkit-transform-origin: 0% 0%; }
    50% { -webkit-transform: rotateZ(70deg) scale(1); -webkit-transform-origin: 50% 50%; opacity: 1; }
    100% { -webkit-transform: rotateZ(140deg) scale(0.6); -webkit-transform-origin: 100% 100%; opacity: 0; }
}
.rotateOutRightSmaller {
    -webkit-animation-name: rotateOutRightSmaller;
    -webkit-animation-timing-function: linear !important;
}

@-webkit-keyframes rotateDownLeft {
    0%      { -webkit-transform: rotate(0);      -webkit-transform-origin: bottom left;}
    100%    { -webkit-transform: rotate(360deg);   -webkit-transform-origin: bottom left;}
}
.rotateDownLeft {
    -webkit-animation-name: rotateDownLeft;
}

@-webkit-keyframes swirlDownRight {
    100%    { -webkit-transform: rotate(1260deg) translateY(250px) translateX(100%); -webkit-transform-origin: bottom right; opacity: 0;}
}
.swirlDownRight {
    -webkit-animation-name: swirlDownRight;
}

@-webkit-keyframes fastSwirl {
    100%    { -webkit-transform: rotate(1440deg) translateY(700px); -webkit-transform-origin: top center; opacity: 0;}
}
.fastSwirl {
    -webkit-animation-name: fastSwirl;
}

@-webkit-keyframes rollingDownOut {
    0% {
        -webkit-transform: perspective(400px) rotateX(0);
    }
    100% {
        -webkit-transform: perspective(400px) translateY(150px) rotateX(-180deg); opacity: 0;
    }
}
.rollingDownOut {
    -webkit-animation-name: rollingDownOut;
}

@-webkit-keyframes rollingDownOutRebound {
    0% {
        -webkit-transform: perspective(400px) rotateX(0);
        -webkit-animation-timing-function: ease-out;
    }
    50% {
        -webkit-transform: perspective(400px) translateY(150px) rotateX(-180deg); opacity: 1;
        -webkit-animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: perspective(400px) translateY(300px) rotateX(-360deg); opacity: 0;
        -webkit-animation-timing-function: ease-in;
    }
}
.rollingDownOutRebound {
    -webkit-animation-name: rollingDownOutRebound;
    -webkit-backface-visibility: visible !important;
}

@-webkit-keyframes rollingDownOutBig {
    0% {
        -webkit-transform: perspective(400px) rotateX(0);
    }
    100% {
        -webkit-transform: perspective(400px) translateY(300px) rotateX(-180deg); opacity: 0;
    }
}
.rollingDownOutBig {
    -webkit-animation-name: rollingDownOutBig;
}

@-webkit-keyframes rollingDownOutBigger {
    0% {
        -webkit-transform: rotateX(0);
    }
    100% {
        -webkit-transform: translateY(700px) rotateX(720deg); opacity: 0;
    }
}
.rollingDownOutBigger {
    -webkit-animation-name: rollingDownOutBigger;
    -webkit-backface-visibility: visible !important;
}

@-webkit-keyframes fusionX {
    0%   { -webkit-transform: perspective(100px) rotateX(    0); }
    100% { -webkit-transform: perspective(100px) rotateX(90deg); }
}
.fusionX {
    -webkit-animation-name: fusionX;
}

@-webkit-keyframes fusionY {
    0%   { -webkit-transform: perspective(400px) rotateY(    0); }
    100% { -webkit-transform: perspective(400px) rotateY(90deg); }
}
.fusionY {
    -webkit-animation-name: fusionY;
}

@-webkit-keyframes downThenExitRight {
    0%   { -webkit-transform: translateY(    0) translateX(    0); }
    50%  { -webkit-transform: translateY(100px) translateX(    0); opacity:1;   }
    75%  { -webkit-transform: translateY(100px) translateX(150px); opacity:0.9; }
    100% { -webkit-transform: translateY(100px) translateX(999px); opacity:0;   }
}
.downThenExitRight {
    -webkit-animation-name: downThenExitRight;
}

@-webkit-keyframes galaxyFarFarAway {
    0%   { -webkit-transform: perspective(100px) rotateX(    0); }
    100% { -webkit-transform: perspective(100px) rotateX(45deg); height: 125%;}
}
.galaxyFarFarAway {
    -webkit-animation-name: galaxyFarFarAway;
}

@-webkit-keyframes weirdRotation {
    0%   { -webkit-transform: perspective(400px); }
    33%  { -webkit-transform: perspective(400px) rotateY(180deg); }
    66%  { -webkit-transform: perspective(400px) rotateX(180deg); }
    100% { -webkit-transform: perspective(400px) rotateZ(360deg); }
}
.weirdRotation {
    -webkit-animation-name: weirdRotation;
    -webkit-backface-visibility: visible !important;
}

@-webkit-keyframes rotateToBigger {
    0%   { -webkit-transform: perspective(100px) rotate(     0); }
    50%  { -webkit-transform: perspective(100px) rotate(180deg) scaleX(1.5) scaleY(1.5); }
    100% { -webkit-transform: perspective(100px) rotate(360deg) scaleX(1.5) scaleY(1.5); }
}
.rotateToBigger {
    -webkit-animation-name: rotateToBigger;
}

@-webkit-keyframes weirderRotation {
    0%   { -webkit-transform: perspective(400px); }
    40%  { -webkit-transform: perspective(400px) rotateZ(180deg) rotateX( 90deg) scaleX(1.5) scaleY(1.5); }
    80%  { -webkit-transform: perspective(400px) rotateZ(360deg) rotateX(180deg) scaleX(1.5) scaleY(1.5); }
    100% { -webkit-transform: perspective(400px) rotateZ(360deg) rotateX(  0deg) scaleX(1.5) scaleY(1.5); }
}
.weirderRotation {
    -webkit-animation-name: weirderRotation;
    -webkit-backface-visibility: visible !important;
    -webkit-animation-duration: 1s !important;
}

@-webkit-keyframes rotateCrooked {
    100% { -webkit-transform: rotate(-733deg); }
}
.rotateCrooked {
    -webkit-animation-name: rotateCrooked;
    -webkit-animation-duration: 0.4s !important;
}

@-webkit-keyframes rotateAllAxisCrooked {
    100% { -webkit-transform: rotateX(-720deg) rotateY(-720deg) rotateZ(-733deg); }
}
.rotateAllAxisCrooked {
    -webkit-animation-name: rotateAllAxisCrooked;
    -webkit-backface-visibility: visible !important;
    -webkit-animation-duration: 0.4s !important;
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: perspective(400px) scale3d(1, 1, 1); }
    100% { -webkit-transform: perspective(400px) scale3d(1.05, 1.05, 1.05); }
}
.pulse {
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 0.5s !important;
    -webkit-animation-iteration-count: infinite !important;
    -webkit-animation-direction: alternate !important;
}

@-webkit-keyframes blink {
    45% { opacity: 0; }
}
.blink {
    -webkit-animation-name: blink;
    -webkit-animation-duration: 0.75s !important;
    -webkit-animation-iteration-count: infinite !important;
    -webkit-animation-direction: alternate !important;
}

@-webkit-keyframes myPlanetNeedsMe {
    0%   {
        -webkit-transform: rotate(0);
        -webkit-transform-origin: top left;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(45deg);
        -webkit-transform-origin: top right;
        opacity: 0;
    }
}
.myPlanetNeedsMe {
    -webkit-animation-name: myPlanetNeedsMe;
}

@-webkit-keyframes bounceAndExitRight {
    0%   {-webkit-transform: perspective(400px) translateX(0);}
    15%  {-webkit-transform: perspective(400px) translateX(-20px) scale(1.1); opacity: 1;}
    100% {-webkit-transform: perspective(400px) translateX(1000px) scale(0.5); opacity: 0;}
}
.bounceAndExitRight {
    -webkit-animation-name: bounceAndExitRight;
}

@-webkit-keyframes bounceHarderAndExitRight {
    0% {-webkit-transform: translateX(0);}
    10%, 30% {-webkit-transform: translateX(10px);}
    20%, 40% {-webkit-transform: translateX(-10px); opacity: 1;}
    100% {-webkit-transform: translateX(1000px); opacity: 0;}
}
.bounceHarderAndExitRight {
    -webkit-animation-name: bounceHarderAndExitRight;
}

@-webkit-keyframes fadeToDepth {
    0%   {-webkit-transform: perspective(400px) scale(1);}
    100% {-webkit-transform: perspective(400px) scale(0.4); opacity: 0;}
}
.fadeToDepth {
    -webkit-animation-name: fadeToDepth;
}

@-webkit-keyframes fadeToDepthBounce {
    0%   {-webkit-transform: perspective(400px) scale(1);}
    25%  {-webkit-transform: perspective(400px) scale(1.1); opacity: 1;}
    100% {-webkit-transform: perspective(400px) scale(0.4); opacity: 0;}
}
.fadeToDepthBounce {
    -webkit-animation-name: fadeToDepthBounce;
}

@-webkit-keyframes rotateInBottomRight {
    0%   { -webkit-transform: rotate(1260deg) translateY(250px) translateX(100%); -webkit-transform-origin: bottom right; opacity: 0;}
    100% { -webkit-transform: rotate(0deg) translateY(0px) translateX(0%); -webkit-transform-origin: 80% 70%; opacity: 1;}
}
.rotateInBottomRight {
    -webkit-animation-name: rotateInBottomRight;
}

@-webkit-keyframes rotateInBottomRightFast {
    0%   { -webkit-transform: rotate(1440deg) translateY(250px) translateX(100%); -webkit-transform-origin: bottom right; opacity: 0;}
    100% { -webkit-transform: rotate(0deg) translateY(0px) translateX(0%); -webkit-transform-origin: 80% 70%; opacity: 1;}
}
.rotateInBottomRightFast {
    -webkit-animation-name: rotateInBottomRightFast;
    -webkit-animation-duration: 0.75s !important;
}

@-webkit-keyframes rollingInUp {
    0% {
        -webkit-transform: perspective(400px) translateY(300px) rotateX(-180deg); opacity: 0;
    }
    100% {
        -webkit-transform: perspective(400px) rotateX(0);
    }
}
.rollingInUp {
    -webkit-animation-name: rollingInUp;
    -webkit-backface-visibility: visible !important;
}

@-webkit-keyframes rollingInDown {
    0% {
        -webkit-transform: perspective(400px) translateY(-100px) rotateX(-180deg); opacity: 0;
    }
    100% {
        -webkit-transform: perspective(400px) rotateX(0);
    }
}
.rollingInDown {
    -webkit-animation-name: rollingInDown;
    -webkit-backface-visibility: visible !important;
}

@-webkit-keyframes rotateInX {
    0%   { -webkit-transform: perspective(200px) rotateX(90deg); }
    100% { -webkit-transform: perspective(200px) rotateX(    0); }
}
.rotateInX {
    -webkit-animation-name: rotateInX;
}

@-webkit-keyframes inFromRight {
    0%   {-webkit-transform: perspective(400px) translateX(1000px) scale(0.5); opacity: 0;}
    85%  {-webkit-transform: perspective(400px) translateX(-20px) scale(1.1); opacity: 1;}
    100% {-webkit-transform: perspective(400px) translateX(0);}
}
.inFromRight {
    -webkit-animation-name: inFromRight;
}

@-webkit-keyframes fromDeep {
    0%   {-webkit-transform: perspective(400px) scale(0.4); opacity: 0;}
    100% {-webkit-transform: perspective(400px) scale(1);}
}
.fromDeep {
    -webkit-animation-name: fromDeep;
}

@-webkit-keyframes fromDeepBounce {
    0%   {-webkit-transform: perspective(400px) scale(0.4); opacity: 0;}
    75%  {-webkit-transform: perspective(400px) scale(1.1); opacity: 1;}
    100% {-webkit-transform: perspective(400px) scale(1);}
}
.fromDeepBounce {
    -webkit-animation-name: fromDeepBounce;
}

/****************** CHAINED ***********************/

@-webkit-keyframes rotateThenBlink_rot {
    100% { -webkit-transform: rotateX(-720deg) rotateY(-720deg) rotateZ(-733deg); }
}
@-webkit-keyframes rotateThenBlink_bli {
    0% { -webkit-transform: perspective(400px) scale3d(1, 1, 1) rotateZ(-733deg); }
    100% { -webkit-transform: perspective(400px) scale3d(1.05, 1.05, 1.05) rotateZ(-733deg); }
}
.rotateThenBlink {
    -webkit-animation: rotateThenBlink_rot 0.5s linear, rotateThenBlink_bli 0.5s linear infinite alternate !important;
}

@-webkit-keyframes rotateAndShake_rot {
    50%  { -webkit-transform: rotate(180deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes rotateAndShake_sha {
    50% { -webkit-transform: skew(4deg, -4deg); }
    25% { -webkit-transform: skew(-4deg, 4deg); }
}
.rotateAndShake {
    -webkit-animation: rotateAndShake_rot 0.5s linear, rotateAndShake_sha 0.5s linear infinite alternate !important;
}