body { /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;

    -moz-backface-visibility: hidden;
    -moz-font-smoothing: subpixel-antialiased;

    -ms-backface-visibility: hidden;
    -ms-font-smoothing: subpixel-antialiased;

    -o-backface-visibility: hidden;
    -o-font-smoothing: subpixel-antialiased;

    backface-visibility: hidden;
    font-smoothing: subpixel-antialiased;
}

h3 {
    margin-top: 15px;
}

.container {
    margin: auto;
}

.test_container {
    pointer-events: none;
    margin: 60px auto;
    width: 100%;
    z-index: 999;
}

#test_box {
    color: white;
    background-color: rgb(10, 10, 30);

    background-image: linear-gradient(bottom, rgb(200, 200, 225) 0%, rgb(10, 10, 30) 100%);
    background-image: -o-linear-gradient(bottom, rgb(200, 200, 225) 0%, rgb(10, 10, 30) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(200, 200, 225) 0%, rgb(10, 10, 30) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(200, 200, 225) 0%, rgb(10, 10, 30) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(200, 200, 225) 0%, rgb(10, 10, 30) 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(200, 200, 225)), color-stop(1, rgb(10, 10, 30)) );

    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;

    width: 160px;
    height: 30px;
    
    margin: 10px auto;
    padding: 20px 10px;

    border-radius: 10px;
    
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: both;
    
    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: linear;
    -moz-animation-fill-mode: both;
    
    -ms-animation-duration: 1s;
    -ms-animation-delay: .2s;
    -ms-animation-timing-function: linear;
    -ms-animation-fill-mode: both;
    
    -o-animation-duration: 1s;
    -o-animation-delay: .2s;
    -o-animation-timing-function: linear;
    -o-animation-fill-mode: both;
    
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

#test_box p {
    margin: 0;
}

.button {
    cursor: pointer;
    width: auto;
    display: inline-block;
    box-sizing: border-box;
    position: relative;

    background-color: rgb(0, 0, 50);
    padding: 5px 10px;
    margin: 5px 5px;
    position: relative;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border: solid 1px rgb(0, 0, 20);

    background-image: linear-gradient(bottom, rgb(0, 0, 50) 0%, rgb(200, 200, 200) 100%);
    background-image: -o-linear-gradient(bottom, rgb(0, 0, 50) 0%, rgb(200, 200, 200) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(0, 0, 50) 0%, rgb(200, 200, 200) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(0, 0, 50) 0%, rgb(200, 200, 200) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(0, 0, 50) 0%, rgb(200, 200, 200) 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(0, 0, 50)), color-stop(1, rgb(200, 200, 200)) );

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.button:hover, .button:focus {
    background-color: rgb(0, 0, 50);

    background-image: -webkit-linear-gradient(bottom, rgb(210, 210, 255) 0%, rgb(10, 10, 20) 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(10, 10, 20)), color-stop(1, rgb(210, 210, 255)) );
    background-image: -moz-linear-gradient(top, rgba(210, 210, 255, 0.5), rgba(10, 10, 20, 0.1));
    background-image: -ms-linear-gradient(top, rgba(210, 210, 255, 0.5), rgba(10, 10, 20, 0.1));
    background-image: -o-linear-gradient(top, rgba(210, 210, 255, 0.5), rgba(10, 10, 20, 0.1));
    background-image: linear-gradient(top, rgba(210, 210, 255, 0.5), rgba(10, 10, 20, 0.1));

    text-decoration: none;
}

@media print, screen and (max-width: 960px) {
    #test_box {
        box-shadow: 0px 0px 50px 25px #eee;
    }
    .test_container {
        position: fixed !important;
        right: 0;
        left: 0;
        top: 0;
    }
}